<h1>Resumo do Pedido</h1>
<ul>
    {% for item in cart %}
        <li>
            {{ item.product.name }}: {{ item.quantity }} x R$ {{ item.price|floatformat:2 }} = R$ {{ item.total_price|floatformat:2 }}
        </li>
    {% endfor %}
</ul>

<p>Subtotal: R$ {{ cart.get_total_price|floatformat:2 }}</p>
<form method="post" action="{% url 'checkout:checkout' %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if form.is_valid %}
        <p>Frete: R$ {{ freight|floatformat:2 }}</p>
        <p><strong>Total com Frete: R$ {{ total_price|floatformat:2 }}</strong></p>
    {% endif %}

    <button type="submit">Confirmar Compra</button>
</form>
