{% extends 'base.html' %}

{% block content %}
    {% if form.erros %}
    <p>Seu login e Senha estão incorretos, por favor tente novamente.</p>
    {% endif %}
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {{ from.as_p }}
        <button name="submit">Entrar</button>
        <input type="hidden" name="next" value="{% url 'home' %}">
    </form>
{% endblock content %}


    {% comment %} <p>Não tem uma conta? <a href="{% url 'accounts:register' %}">Registrar</a></p> {% endcomment %}
</body>
</html>
